.App {
  padding: 30px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App__Form {
  background-color: red;
  width: 90%;
}

.App__Container {
  background-color: yellow;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.App__form__tfMessage {
  flex: 1;
}

.App__form__sndBtn {
  flex: 0;
}
