.Message {
  display: flex;
  margin: 40px 0px;
  position: relative;
}

.Message__right {
  justify-content: flex-end;
  margin: 20px 0px;
}

.Message__container {
  padding: 10px;
  background-color: #e4e6eb;
  border-radius: 10px;
  position: relative;
}

.Message__containerRight {
  background-color: #0099ff;
  color: white;
  max-width: 70%;
}

.Message__uname {
  position: absolute;
  font-size: xx-small;
  color: #caccd1;
  top: -15px;
}

.Message__time {
  font-size: xx-small;
  position: absolute;
  bottom: -15px;
  padding: 0px 5px;
  color: #caccd1;
}

.Message__date {
  background-color: rgba(0, 0, 0, 0.694);
  color: white;
  font-size: xx-small;
  position: absolute;
  padding: 3px;
  border-radius: 4px;
  bottom: calc(50% + -10px);
  right: -55px;
  visibility: hidden;
}

.Message__container:hover .Message__date {
  visibility: visible;
}

.Message__containerRight .Message__date {
  right: auto;
  left: -55px;
}

/* deep wizard */

/*
1400 Rs/Hr
20% -> Administration
80% => *

ppt, record => 40/40
*/
