.Message {
  background-color: #e4e6eb;
  border-radius: 7px;
  width: fit-content;
  padding: 10px;
  max-width: 70%;
  margin: 20px 0px;
  position: relative;
}

.Right__Message {
  background-color: #0099ff;
  color: white;
  border-radius: 7px;
  float: right;
  margin: 10px 0px;
}

.Message__uname {
  color: #caccd1;
  font-size: xx-small;
  position: absolute;
  top: -15px;
}

.Message__time {
  color: #caccd1;
  font-size: xx-small;
  position: absolute;
  bottom: -15px;
}

.Message__time__right {
  right: 15px;
}
