.Message__Right {
  text-align: right;
}
.Message {
  background-color: #e4e6eb;
  border-radius: 7px;
  width: fit-content;
  padding: 10px;
  max-width: 70%;
  margin: 20px 0px;
  position: relative;
}

.Right__Message {
  background-color: #0099ff;
  color: white;
  border-radius: 7px;
  margin: 10px 0px;
}

.Message__uname {
  color: #caccd1;
  font-size: xx-small;
  position: absolute;
  top: -15px;
}

.Message__time {
  color: #caccd1;
  font-size: xx-small;
  position: absolute;
  bottom: -15px;
}

.Message__time__right {
  right: 15px;
}

.Message__day {
  background-color: rgba(0, 0, 0, 0.653);
  width: fit-content;
  color: white;
  padding: 2px;
  border-radius: 3px;
  position: absolute;
  bottom: calc(50% + -15px);
  right: -70px;
  visibility: hidden;
  font-size: 12px;
}

.Message:hover .Message__day {
  visibility: visible;
}

.Message__day__right {
  left: -70px;
}
